a {
    text-decoration: none;
    color: white;
}

.navbar {
    top: 0;
    display: flex;
    width: 100%;
    background-color: #5877aa;
}

.navbar__item {
    background-color: #5877aa;
    float: left;
    font-size: 17px;
    padding: 15px;
}

.navbar__item:hover {
    background-color: #6796df;
}