<app-nav-bar></app-nav-bar>

<section>
    <section id="produtoForm">
        <form [formGroup]="produtoForm" (ngSubmit)="adicionarProduto(produtoForm)">

            <label>Nome do Produto:</label>
            <input type="text" formControlName="nome">
            <label>Quantidade:</label>
            <input type="text" formControlName="quantidade">
            <label>Preço do Produto:</label>
            <input type="text" formControlName="preco">

            <button id="buttonForm" type="submit" [disabled]="!produtoForm.valid" (click)="adicionarProduto(produtoForm)">Adicionar</button>
        </form>
    </section>
</section>


