<section class="navbar">
   
    <a routerLink="/" class="navbar__item">
        <i class="fas fa-home"></i>
        Home
    </a>

    <a routerLink="adicionar-produto" class="navbar__item">
        <i class="fas fa-plus"></i>
        Adicionar produto
    </a>

    <a routerLink="/" class="navbar__item">
        <i class="fas fa-pencil-alt"></i>
        Editar produto
    </a>

    <a routerLink="/" class="navbar__item">
        <i class="fas fa-trash"></i>
        Excluir produto
    </a>
    
</section>

